<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="SNUETL Setup" Manufacturer="snuetl contributors"
          Version="$(var.ProductVersion)"
          UpgradeCode="D0A04EB3-529A-499D-A7DD-0CC5464C2BE2">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense"
          LicenseUrl="https://github.com/euro-kim/snuetl/blob/main/LICENSE" />
    </BootstrapperApplication>
    <Chain>
      <MsiPackage SourceFile="$(var.MsiPath)" />
    </Chain>
  </Bundle>
</Wix>
