<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="SNUETL" Manufacturer="snuetl contributors"
           Version="$(var.ProductVersion)"
           UpgradeCode="A6797C5E-1774-45A9-A264-B872DE246A27"
           Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer SNUETL version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="APPROOT" Name="SNUETL">
        <Directory Id="BINDIR" Name="app" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="PROGRAMMENUDIR" Name="SNUETL" />
    </StandardDirectory>

    <ComponentGroup Id="ApplicationFiles" Directory="BINDIR">
      <Files Include="$(var.PayloadDir)\**">
        <Exclude Files="$(var.PayloadDir)\SNUETL.exe" />
      </Files>
    </ComponentGroup>
    <Component Id="MainExecutable" Directory="BINDIR" Guid="1202433A-FCBD-4F3D-A92B-C891ECA882C7">
      <File Id="SNUETLEXE" Source="$(var.PayloadDir)\SNUETL.exe" KeyPath="yes" />
    </Component>
    <Component Id="StartMenuShortcut" Directory="PROGRAMMENUDIR" Guid="5AA86DF0-5193-43BC-8622-C69E05D10214">
      <Shortcut Id="SNUETLShortcut" Name="SNUETL" Target="[#SNUETLEXE]" WorkingDirectory="BINDIR" />
      <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" />
      <RemoveRegistryValue Id="RemoveStartupValue" Root="HKCU"
                           Key="Software\Microsoft\Windows\CurrentVersion\Run"
                           Name="SNUETL" Action="removeOnUninstall" />
      <RegistryValue Root="HKCU" Key="Software\SNUETL" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <CustomAction Id="UnregisterSyncRoot" FileRef="SNUETLEXE" ExeCommand="--unregister"
                  Execute="deferred" Impersonate="yes" Return="ignore" />
    <CustomAction Id="LaunchSNUETL" FileRef="SNUETLEXE" ExeCommand=""
                  Impersonate="yes" Return="asyncNoWait" />
    <InstallExecuteSequence>
      <Custom Action="UnregisterSyncRoot" Before="RemoveFiles" Condition="REMOVE~=&quot;ALL&quot;" />
      <Custom Action="LaunchSNUETL" After="InstallFinalize" Condition="NOT Installed" />
    </InstallExecuteSequence>

    <Feature Id="Main" Title="SNUETL" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Package>
</Wix>
